[Unit]
Description=DiscordBot
After=network.target

[Service]
WorkingDirectory=/home/%USER%/godiscordbot
ExecStart=/home/%USER%/godiscordbot/godiscordbot
Restart=always
Environment="CONFIG_PATH=/home/%USER%/godiscordbot/config.json"
User=%USER%

[Install]
WantedBy=multi-user.target
