[Unit]
Description=DiscordBot
After=network.target

[Service]
WorkingDirectory=/home/$CURRENT_USER/godiscordbot
ExecStart=/home/$CURRENT_USER/godiscordbot/godiscordbot
Restart=always
Environment="CONFIG_PATH=/home/$CURRENT_USER/godiscordbot/config.json"
User=$CURRENT_USER

[Install]
WantedBy=multi-user.target
